<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css">

</head>

<body>
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <h1 class="is-size-4"> Hola <strong>{{session["user"]}}</strong></h1>
                <br>
                <p>Has iniciado sesión de forma exitosa.</p>
                <br>
                <a href="{{url_for('logout')}}">Salir</a>
            </div>
        </div>
    </section>

</body>

</html>